.button{
    -fx-font-weight: bold;
    -fx-background-color: #41aea9;
    -fx-border-color: #a6f6f1;
    -fx-font-size: 19;
    -fx-text-fill: white;
}

.button:hover{
    -fx-font-weight: bold;
    -fx-background-color: #41213e3b;
    -fx-border-color: #a6f6f1;
    -fx-font-size: 19;
    -fx-text-fill: white;
}

.tableview{
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-font-size: 15;
}

.textfield{
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.smallbutton{
    -fx-font-weight: bold;
    -fx-background-color: #41aea9;
    -fx-background-radius: 18;
    -fx-border-color: transparent;
    -fx-font-size: 15;
    -fx-text-fill: white;
}

.smallbutton:hover{
    -fx-font-weight: bold;
    -fx-background-color: #a6f6f1;
    -fx-background-radius: 18;
    -fx-border-color: transparent;
    -fx-font-size: 15;
    -fx-text-fill: white;
}